{% extends 'base.html.twig' %}

{% block title %}{{ blog_post.title }}{% endblock %}

{% block body %}
	<br/>
    <p><strong>{{ blog_post.title }}</strong></p>
	<p>{{ blog_post.body }}</p>
{% endblock %}
